<h1>Antarctica Map</h1>

<p>Testing Antarctica map</p>

<p><a href="#" id="refresh-link">Refresh</a></p>

<div id="map" style="width: 100%, height: 400px"></div>

<script src="/js/proj4.js"></script>
<script src="/js/ol.js"></script>
<script>
window.onload = function(){
proj4.defs("EPSG:3031",
        "+proj=stere +lat_0=-90 +lat_ts=-71 +lon_0=0 +k=1 +x_0=0 +y_0=0 " +
        "+datum=WGS84 +units=m +no_defs");
    ol.proj.get("EPSG:3031").setExtent([-4194304, -4194304, 4194304, 4194304]);

    var map = new ol.Map({
        view: new ol.View({
            maxResolution: 8192.0,
            projection: ol.proj.get("EPSG:3031"),
            extent: [-4194304, -4194304, 4194304, 4194304],
            center: [0, 0],
            zoom: 1,
            maxZoom: 5,
        }),
        target: "map",
        renderer: ["canvas", "dom"],
	controls: [],
    });

    var source = new ol.source.WMTS({
        url: "//map1{a-c}.vis.earthdata.nasa.gov/wmts-antarctic/wmts.cgi?TIME=2013-12-01",
        layer: "MODIS_Terra_CorrectedReflectance_TrueColor",
        extent: [-4194304, -4194304, 4194304, 4194304],
        format: "image/jpeg",
        matrixSet: "EPSG3031_250m",

        tileGrid: new ol.tilegrid.WMTS({
            origin: [-4194304, 4194304],
            resolutions: [
                8192.0,
                4096.0,
                2048.0,
                1024.0,
                512.0,
                256.0
            ],
            matrixIds: [0, 1, 2, 3, 4, 5],
            tileSize: 512
        })
    });

    var layer = new ol.layer.Tile({source: source});

    map.addLayer(layer);
}


</script>
