<h1>Antarctica Map</h1>

<p>Testing Antarctica map</p>

<p><a href="#" id="refresh-link">Refresh</a></p>

<div id="map" style="width: 100%, height: 400px"></div>

<script src="/js/proj4.js"></script>
<script src="/js/ol.js"></script>
<script src="/js/antarctica.js"></script>
