<h1>
    Data
    <a href="#"><img id="refresh-link" src="/images/refresh.png" /> </a>
</h1>

<p>
    This page demonstrates just reading the data from the API and presenting it
    in a bunch of tables.

</p>


<div id="data-container"></div>
<div id="bad-response-container"></div>

<div>
    <pre id="raw-data-container"></pre>
</div>

<script src="/js/data.js"></script>
