    <h1>Data</h1>

    <p>
        This page demonstrates just reading the data from the API and presenting it
        in a bunch of tables.
    </p>

    <p><a href="#" id="refresh-link">Refresh</a></p>

    <div id="data-container"></div>

    <div>
        <pre id="raw-data-container"></pre>
    </div>

    <script src="/js/data.js"></script>
