<h1>Graphs</h1>

<p><a href="#" id="refresh-link">Refresh</a></p>

<div id="graphs-container"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"
        crossorigin="anonymous"></script>
<script src="/js/graphfunc.js"></script>
<script src="/js/graphs.js"></script>
<script type='text/javascript' src='//www.bing.com/api/maps/mapcontrol?branch=release'></script>
<body onload="GetMap();">
    <div id="map" style="position: relative; width: 600px; height: 450px;"></div>
</body>
<img id="antarcticmap" width="1" height="1"
     src="images/south_pole_points.png" alt="bg">

<div id="SouthPoleMap"></div>


