<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"
        crossorigin="anonymous"></script>
<div class="container">
    <div class="row">
        <h1>Band to the Pole</h1>
        <h4>Follow James Redden's trip to the South pole. In late 2017 he intends to ski across the Antarctic to raise money for Soundabout, a British charity that provides therapy for disabled children and adults. In this website you can see his latest locations and distances travelled, how much calories he burns and how fast his heart beats, using data gathered by a Microsoft Band. To find out more about him, check his <a href="http://www.jamesredden.co.uk/">website</a>. </h4>
    </div>
    <div class="row">
        <!-- This is a 3 column layout using Bootstrap
        http://getbootstrap.com/css/#grid  -->
        <div class="col-md-4">
            <h2>Latest stats</h2>
            <strong>TODO:</strong>
        </div>
        <div id="home-graphs" class="col-md-4">
            <h2>Latest graphs</h2>
            <p><a href="#" id="refresh-link">Refresh</a></p>
	    <div id="map-container" class="graph-container"></div>
            <div id="graphs-container"></div>
	    <script src="/js/graphfunc.js"></script>
            <script src="/js/home.js"></script>
        </div>
        <div class="col-md-4">
            <h2>Latest tweets</h2>
            <a class="twitter-timeline" data-height="500" href="https://twitter.com/jredden">
                Tweets by jredden
            </a>
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        
    </div>
</div>
