<h1>Log</h1>

<p>This page demonstrates an example of using the API for retreiving the
    database access log. Probably needs to be disabled before this goes into
    production.</p>

<p><a href="#" id="refresh-link">Refresh</a></p>

<table class="table">
    <thead>
        <tr>
            <th>Entry</th>
            <th>Data</th>
        </tr>
    </thead>
    <tbody id="logs">
    </tbody>
</table>

<script src="/js/log.js"></script>
