<h1>Team</h1>

<p>This website and the associated apps were created on behalf of James Redden
    and Microsoft by a group of students at the University of Oxford:</p>

<ul>
    <li>Thomas Denney</li>
    <li>Alex Rice</li>
    <li>Long Thanh Pham</li>
    <li>Emil Nichita</li>
    <li>Gregorian Pirindev</li>
    <li>Peter Kiss</li>
    <li>Alexandru Valeanu</li>
</ul>

<p>The project is open source, and available on <a
    href="https://github.com/bandtothepole">GitHub</a>.</p>
